<% @page_title = "TOP" %>

<h1>新着商品一覧</h1>
<% if @items.present? %>
  <div class="container">
    <div class="row">
      <% @items.each do |item| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 py-1 d-inline-flex flex-wrap position-relative">
          <%= link_to item, class: "text-dark", target:"_blank" do %>
            <div class="card" style="width: 200px;">
              <% if item.images.first&.data&.attached? %>
                <%= image_tag(item.images.first.data, class: "card-img-top", :size => "200x200") %>
              <% else %>
                <%= image_tag("no_image.png", class: "card-img-top", :size => "200x200") %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title">
                  <%= item.point %>
                  <% if (count = item.favorites.count) > 0 %>
                    <span class="favorite float-right">♥<%= count %></span>
                  <% end %>
                </h5>
                <p class="card-text"><%= item.name %></p>
              </div>
            </div>
            <% if item.order.present? %>
              <div class="items-box_photo__sold">
                <div class="items-box_photo__sold__inner">
                  SOLD
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= paginate @items %>
<% else %>
  <p>商品情報がありません。</p>
<% end %>