<% @page_title = "#{tm Item}の編集" %>
<h1><%= @page_title %></h1>

<p><%= link_to "#{tm Item}の詳細に戻る", [:admin, @item] %></p>

<%= form_for [:admin, @item] do |form| %>
  <%= render "form", form: form %>
  <div><%= form.submit %></div>
<% end %>
