<%= render "shared/errors", obj: @item %>

<table class="attr">
  <tr>
    <th><%= form.label :name %></th>
    <td><%= form.text_field :name %></td>
  </tr>
  <tr>
    <th><%= form.label :user_id %></th>
    <td><%= form.label @item.user.name %></td>
  </tr>
  <tr>
    <th><%= form.label :point %></th>
    <td><%= form.text_field :point %></td>
  </tr>
  <tr>
    <th><%= form.label :rental_point %></th>
    <td><%= form.text_field :rental_point %></td>
  </tr>
  <tr>
    <th><%= form.label :category %></th>
    <td>
      <div class="listing-item-detail__category">
        <div class="listing-select-wrapper listing-select-wrapper__box">
          <%= form.select :category, options_for_select(@category_parent_array, @item.category&.root&.id), {prompt: '---'}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'} %>
        </div>
        <% if @item.category.present? %>
          <div class='listing-select-wrapper__added' id= 'children_wrapper'>
            <div class='listing-select-wrapper__box'>
              <%= form.select :category, options_for_select(Category.get_children(@item.category.root.id).map { |c| [c.name, c.id]}, @item.category.parent.id), {prompt: '---'}, {class: 'listing-select-wrapper__box--select', id: 'child_category'} %>
              <i class='fas fa-chevron-down listing-select-wrapper__box--arrow-down'></i>
            </div>
          </div>
          <div class='listing-select-wrapper__added' id= 'grandchildren_wrapper'>
            <div class='listing-select-wrapper__box'>
              <%= form.select :category_id, options_for_select(Category.get_grandchildren(@item.category.parent.id).map { |c| [c.name, c.id]}, @item.category.id), {prompt: '---'}, {class: 'listing-select-wrapper__box--select', id: 'grandchild_category'} %>
              <i class='fas fa-chevron-down listing-select-wrapper__box--arrow-down'></i>
            </div>
          </div>
        <% end %>
      </div>
    </td>
  </tr>
  <tr>
    <th><%= form.label :condition %></th>
    <td><%= form.text_field :condition %></td>
  </tr>
  <tr>
    <th><%= form.label :description %></th>
    <td><%= form.text_area :description %></td>
  </tr>
  <tr>
    <th><%= form.label :delivery_method %></th>
    <td><%= form.text_field :delivery_method %></td>
  </tr>
  <tr>
    <th><%= form.label :status %></th>
    <td><%= form.select :status, Item.status.options %></td>
  </tr>
</table>
