<% @page_title = "#{tm Item}の詳細" %>

<h1><%= @page_title %></h1>

<%= the_first_image(@item) %>
<%= other_images(@item) %>
<table class="attr">
  <tr>
    <th><%= tm Item, :name %></th>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <th><%= tm Item, :user_id %></th>
    <td><%= @item.user.name %></td>
  </tr>
  <tr>
    <th><%= tm Item, :point %></th>
    <td><%= @item.point %></td>
  </tr>
  <tr>
    <th><%= tm Item, :rental_point %></th>
    <td><%= @item.rental_point %></td>
  </tr>
  <tr>
    <th><%= tm Item, :category %></th>
    <td><%= @item.category.present? ? "#{@item.category.root.name} / #{@item.category.parent.name} / #{@item.category.name}" : "未指定" %></td>
  </tr>
  <tr>
    <th><%= tm Item, :condition %></th>
    <td><%= @item.condition %></td>
  </tr>
  <tr>
    <th><%= tm Item, :description %></th>
    <td><%= @item.description %></td>
  </tr>
  <tr>
    <th><%= tm Item, :delivery_method %></th>
    <td><%= @item.delivery_method %></td>
  </tr>
  <% if current_user&.administrator_flag? || current_user == @item.user %>
    <tr>
      <th><%= tm Item, :status %></th>
      <td><%= @item.status_text %></td>
    </tr>
  <% end %>
</table>
<h3>コメント一覧</h3>
<% @comments.each do |c| %>
  <div>
    <a href="/users/<%= @item.user.id %>"><%= c.user.name %></a>
    <%= c.content %>
    <hr>
  </div>
<% end %>

<%= form_for [@item, @comment] do |f| %>
  <%= f.text_field :content %>
  <br>
  <%= f.submit 'コメントする' %>
<% end %>
<%= render "footer", item: @item %>
<%= render "order_button" %>
<%= render "favorites" %>
<%= link_to "ホームへ戻る", items_path %>